name: Go

on:
  pull_request:
    branches: [ "main" ]
  # Manual trigger for debugging or reruns
  workflow_dispatch: {}

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25.5']
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: services/gateway/go.sum

      - name: Build
        working-directory: services/gateway
        run: go build -v ./...

      - name: Test
        working-directory: services/gateway
        run: go test -v ./...